@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

:root{
    --font-primary: "Poppins", sans-serif;
    --font-noto-sans: "Noto Sans", sans-serif;
    
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #606060;
}